<div id="diaryreport">
  <table border="1">
               
                <tr>
                <td><a>头痛日期</a></td>
                <td><a>2013年2月4日--------2013年5月四日</a></td>
                </tr>
                <tr>
                <td><a>头痛频率：</a></td>
                <td><a>平均值：两天一次</a></td>  
                </tr>
                <tr>
                <td><a>头痛程度</a></td>
                <td><a>平均值：7.5</a></td>
                </tr>
                <tr>
                <td><a>头痛性质</a></td>
                <td><a></a></td>
                </tr>
                <tr>
                <td><a>头痛部位</a></td>
                <td><a></a></td>
                </tr>
                <tr>
                <td><a>头痛先兆</a></td>
                <td><a></a></td>
                </tr>
                <tr>
                <td><a>头痛伴随症状</a></td>
                <td><a></a></td>
                </tr>
                <tr>
                <td><a>头痛诱发因素</a></td>
                <td><a></a></td>
                </tr>
                <tr>
                <td rowspan=2 >头痛缓解因素</td>
                <td >123</td>
                </tr>
                <tr>
                 
                <td >123</td>
                </tr>
                <tr>
                <td><a>头痛总次数</a></td>
                <td><a>共45次</a></td>
                </tr>
                </table>
</div>