<div class="statics">
        <div id="time"></div>
        <div id="line">
            <div id="variable1">
            <input type="checkbox" name="fruit" value ="apple" >苹果<br>
             <input type="checkbox" name="fruit" value ="orange">桔子<br>
            </div>
            <div id="linegraph"></div>
        </div>
        <div id="pie">
        <div id="variable2"></div>
        <div id="piegraph"></div>
        </div>
</div>
